button {
  border: none;
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn__button {
  font-size: 22px;
  padding: 10px 25px;
  border: 1px solid #646cff;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  &:hover {
    background-color: #646cff;
    color: #fff;
  }
}

.counter__buttons--count,
.container__buttons--reset {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.counter__buttons--count {
  padding-bottom: 1rem;
}

/* .counter__buttons div:last-child {
  grid-column-start: 2;
} */
