@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;300;500;700&display=swap");

button {
  border: none;
  outline: none;
}

.counter__tasbih,
.counter__title--arabic {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.counter__title--arabic{
  font-size: 2.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn__button {
  font-size: 21px;
  padding: 10px 25px;
  border: 1px solid #646cff;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  &:hover {
    background-color: #646cff;
    color: #fff;
  }
}

.counter {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter__title {
  font-size: 2rem;
}

.counter__container {
  /* display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  gap: 4rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 4rem;
}

.counter__content {
  background-color: orchid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding: 0.7rem 2rem 2rem 2rem;
}

.counter__output {
  color: #fff;
  font-size: 2rem;
}

.counter__button {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .counter__container {
    /* display: flex;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
    gap: 4rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    /* height: calc(100vh - 50px); */
  }
}

@media screen and (max-width: 600px) {
  .counter__container {
    /* display: flex;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
    gap: 4rem; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    height: calc(100vh - 50px);
  }
}
